{% extends "simple-base.html.twig" %}

{% block content %}
    <div class="section fp-auto-height" id="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{{ asset('img/wall.jpg') }}">
                <div class="container text-white">
                    <div class="event-modal-container">
                        <div class="event-modal-header">
                            <h3>{{ eventName }}</h3>
                        </div>
                        <div class="event-modal-body">
                            <div class="event-modal-description">
                                {{ eventDescription|raw }}
                            </div>
                            <div class="event-modal-date_time">
                                Dátum/Čas: {{ eventStart }} - {{ eventEnd }}
                            </div>
                            <div class="event-modal-allocation">
                                Kapacita: {{ eventAllocation }} / {{ eventCapacity }}
                            </div>
                            <div class="event-modal-price">
                                Cena: {{ eventPrice }}
                            </div>
                            {% if response is same as 'ok' %}
                                <div class="event-modal-response-ok">
                                    {{ responseText }}
                                </div>
                            {% else %}
                                <div class="event-modal-response-fail">
                                    {{ responseText }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="event-modal-footer">
                            <button class="site-btn event-modal-back"><span>Späť</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('.event-modal-back').on('click', function () {
                var modal = DayPilot.Modal.opener();
                modal.close();
            })
        })
    </script>
{% endblock %}