{% extends "simple-base.html.twig" %}

{% block content %}
    <div class="section fp-auto-height">
        <div class="hero-slider">
            <div class="hs-item set-bg padding-top-30" data-setbg="{{ asset('img/wall.jpg') }}">
                <div class="container text-white">
                    <div class="event-modal-container">
                        <div class="event-modal-header">
                            <h3>{{ eventName }}</h3>
                        </div>
                        <div class="event-modal-body">
                            <div class="event-modal-description">
                                {{ eventDescription|raw }}
                            </div>
                            <div class="event-modal-allocation">
                                Kapacita: {{ eventAllocation }} / {{ eventCapacity }}
                            </div>
                            <div class="event-modal-price">
                                {{ eventPrice }} &euro;
                            </div>
                        </div>
                        <div class="event-modal-footer">
                            {% if alreadyOnEvent %}
                                <button class="site-btn event-modal-confirm-disabled" disabled><span>Už ste prihlásený</span></button>
                            {% elseif eventIsFull %}
                                <button class="site-btn event-modal-confirm-disabled" disabled><span>Kurz je už plný</span></button>
                            {% else %}
                                <button class="site-btn event-modal-confirm"><span>Prihlásiť sa na kurz</span></button>
                            {% endif %}

                            <button class="site-btn event-modal-cancel"><span>Späť</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('.event-modal-confirm').on('click', function () {
                var eventId = {{ eventId }};
                var data = {
                    'eventId': eventId,
                    'userId': {{ app.user.id }}
                }

                $.ajax({
                    url: '/api/event/register',
                    method: 'POST',
                    data: data,
                    success: function(data) {
                        window.location.replace(data.redirectUrl.targetUrl)
                    },
                    error: function(data) {
                        window.alert(data.message);
                    }
                })
            })

            $('.event-modal-cancel').on('click', function () {
                var modal = DayPilot.Modal.opener();
                modal.close();
            })
        })
    </script>
{% endblock %}