{% extends "base.html.twig" %}

{% block content %}
    <!-- Hero section -->
    <div class="section fp-auto-height" id="hero-section">
        <div class="section about-section about-one set-bg" data-setbg="{{ asset('img/slider/yoga-7.jpg') }}">
            <div class="sp-container">
                <div class="hero-content text-white no-left-margin">
                    <h2>{{ content.title }}</h2>
                    <p>{{ content.description|raw }}</p>
                    {% if (content.article) %}
                        <div id="about-more" class="site-btn"><span>Čitať viac</span></div>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ include('pages/partial/contact-link.html.twig') }}
    </div>
    <!-- Hero section end -->

    {% if (content.article) %}
        <!-- Testimonial section -->
        <div id="content" class="section testimonial-section section-container text-white">
            <div class="container">
                <div class="testimonial-content">
                    {{ content.article|raw }}
                </div>
            </div>
        </div>
        <!-- Testimonial section end-->
    {% endif %}
{% endblock %}
