{% extends "base.html.twig" %}

{% block content %}
    <!-- Hero section -->
    <div class="section fp-auto-height" id="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="section about-section about-one set-bg" data-setbg="{{ asset('img/slider/yoga-7.jpg') }}">
                <div class="container text-white no-left-margin">
                    <h1>{{ content.title }}</h1>
                    <h2>{{ content.subtitle }}</h2>
                    <div id="about-more" class="site-btn margin-top-30"><span>Čitať viac</span></div>
                </div>
            </div>
        </div>
        <div class="slide-num-holder" id="snh-1"></div>
        {{ include('pages/partial/contact-link.html.twig') }}
    </div>
    <!-- Hero section end -->

    <!-- About one Section -->
    <div id="content" class="section about-section about-one section-container">
        <div class="about-content-warp text-white">
            <p>
                {{ content.article|raw }}
            </p>
        </div>

        <div class="about-content-warp text-white row">
            <div class="col-xs-12 col-md-12 text-center padding-bottom-20">
                <h3>Čo sme spoločnými silami dokázali</h3>
            </div>
            <div class="review-item-container col-xs-12 col-md-4 offset-md-2">
                <p class="review-item-title">
                    Janetka
                </p>
                <p class="review-item-image">
                    <img src="{{ asset('img/reviews/janettka.jpeg') }}" alt="Janetka" />
                </p>
                <p class="review-item-description">
                    Pred a po 9 mesiacoch cvičenia Pilatesu
                </p>
            </div>
            <div class="review-item-container col-xs-12 col-md-4">
                <p class="review-item-title">
                    Majka
                </p>
                <p class="review-item-image">
                    <img src="{{ asset('img/reviews/majka.jpeg') }}" alt="Majka" />
                </p>
                <p class="review-item-description">
                    Rok cvičenia Pilatesu a nesprávne držanie tela a protrakcia ramien sú preč
                </p>
            </div>
            <div class="review-item-container col-xs-12 col-md-8 offset-md-2">
                <p class="review-item-title">
                    Ivi
                </p>
                <p class="review-item-image">
                    <img src="{{ asset('img/reviews/ivi.jpeg') }}" alt="Ivi" />
                </p>
                <p class="review-item-description">
                    Pred a po 9 mesiacoch cvičenia Pilatesu
                </p>
            </div>
        </div>
    </div>
    <!-- About one Section end-->

{% endblock %}
