<header class="header-section">
    {% block header %}
        <nav class="header-warp">
            <!-- logo -->
            <a href="{{ sulu_content_root_path() }}" class="site-logo">
                <div class="site-btn"><span>Pilateskurzy</span></div>
            </a>
            <div class="nav-switch">
                <i class="fa fa-bars"></i>
            </div>
            <!-- menu -->
            <div class="navbar-collapse d-none d-sm-block" id="navbarSupportedContent">
                <ul class="main-menu navbar-nav nav-items-center ml-auto mr-auto">
                    {% for item in sulu_navigation_root_tree('main') %}
                        {% if (sulu_navigation_tree(item['uuid']) is empty) %}
                            <li class="nav-item">
                                <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}" class="no-margin" style="margin: 0;">
                                    {{ item.title }}
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="{{ item.uuid }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ item.title }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ item.uuid }}">
                                    {% for subItem in sulu_navigation_tree(item['uuid']) %}
                                        <a class="dropdown-item black" href="{{ sulu_content_path(subItem.url, subItem.webspaceKey) }}">
                                            {{ subItem.title }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="auth_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if app.user %}
                                <img src="{{ asset('img/icons/user-icon-yellow.svg') }}" />
                            {% else %}
                                <img src="{{ asset('img/icons/user-icon-white.svg') }}" />
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="auth_actions">
                            {% if app.user %}
                                <a class="dropdown-item black" href="{{ path('auth_profile') }}">
                                    Moje údaje
                                </a>
                                <a class="dropdown-item black" href="{{ path('auth_events') }}">
                                    Moje udalosti
                                </a>
                                <a class="dropdown-item black" href="{{ path('auth_logout') }}">
                                    Odhlásenie
                                </a>
                            {% else %}
                                <a class="dropdown-item black" href="{{ path('auth_login') }}">
                                    Prihlásenie
                                </a>
                                <a class="dropdown-item black" href="{{ path('auth_register') }}">
                                    Registrácia
                                </a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>

{#             mobile menu#}
            <div class="accordion mobile-menu" id="mobile-menu">
                {% for item in sulu_navigation_root_tree('main') %}
                    {% if (sulu_navigation_tree(item['uuid']) is empty) %}
                        <div class="card" id="card-{{ loop.index }}">
                            <div class="card-header" id="heading-{{ loop.index }}">
                                <h2 class="mb-0">
                                    <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}" class="black btn btn-link btn-block text-left" type="button">
                                        {{ item.title }}
                                    </a>
                                </h2>
                            </div>
                        </div>
                    {% else %}
                        <div class="card" id="card-{{ loop.index }}">
                            <div class="card-header" id="heading-{{ loop.index }}">
                                <h2 class="mb-0 panel-heading">
                                    <button class="btn btn-link btn-block text-left accordion-toggle collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ loop.index }}" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
                                        {{ item.title }}
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse-{{ loop.index }}" class="collapse" aria-labelledby="heading-{{ loop.index }}" data-parent="#mobile-menu">
                                <div class="card-body">
                                    {% for subItem in sulu_navigation_tree(item['uuid']) %}
                                        <h2 class="mb-0">
                                            <a class="black btn btn-link btn-block text-left" href="{{ sulu_content_path(subItem.url, subItem.webspaceKey) }}">
                                                {{ subItem.title }}
                                            </a>
                                        </h2>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </nav>
    {% endblock %}
</header>

