{#<header>#}
{#    {% block header %}#}
{#        <div>#}
{#            <nav class="container navbar navbar-expand-lg main-navbar-nav navbar-dark bg-dark">#}
{#                <a class="navbar-brand" href="">Pilateskurzy</a>#}
{#                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#                    <span class="navbar-toggler-icon"></span>#}
{#                </button>#}

{#                <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                    <ul class="navbar-nav nav-items-center ml-auto mr-auto">#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ sulu_content_root_path() }}">Domov</a>#}
{#                        </li>#}
{#                        {% for item in sulu_navigation_root_tree('main') %}#}
{#                            {% if (sulu_navigation_tree(item['uuid']) is empty) %}#}
{#                                <li class="nav-item">#}
{#                                    <a class="nav-link" href="{{ sulu_content_path(item.url, item.webspaceKey) }}"#}
{#                                       title="{{ item.title }}">{{ item.title }}</a>#}
{#                                </li>#}
{#                            {% else %}#}
{#                                <li class="nav-item dropdown">#}
{#                                    <a class="nav-link dropdown-toggle" href="#" id="{{ item.uuid }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                        {{ item.title }}#}
{#                                    </a>#}
{#                                    <div class="dropdown-menu" aria-labelledby="{{ item.uuid }}">#}
{#                                        {% for subItem in sulu_navigation_tree(item['uuid']) %}#}
{#                                            <a class="dropdown-item black" href="{{ sulu_content_path(subItem.url, subItem.webspaceKey) }}">#}
{#                                                {{ subItem.title }}#}
{#                                            </a>#}
{#                                        {% endfor %}#}
{#                                    </div>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div>#}
{#            </nav>#}
{#        </div>#}
{#    {% endblock %}#}
{#</header>#}

<header class="header-section">
    {% block header %}
        <nav class="header-warp">
            <!-- logo -->
            <a href="{{ sulu_content_root_path() }}" class="site-logo">
                <div class="site-btn"><span>Pilateskurzy</span></div>
            </a>
            <div class="header-social">
{#                <a href=""><i class="fa fa-pinterest"></i></a>#}
{#                <a href=""><i class="fa fa-facebook"></i></a>#}
{#                <a href=""><i class="fa fa-twitter"></i></a>#}
{#                <a href=""><i class="fa fa-dribbble"></i></a>#}
{#                <a href=""><i class="fa fa-behance"></i></a>#}
            </div>
            <div class="nav-switch">
                <i class="fa fa-bars"></i>
            </div>
            <!-- menu -->
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="main-menu navbar-nav nav-items-center ml-auto mr-auto">
                    {% for item in sulu_navigation_root_tree('main') %}
                        {% if (sulu_navigation_tree(item['uuid']) is empty) %}
                            <li class="nav-item">
                                <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}">
                                    {{ item.title }}
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="{{ item.uuid }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ item.title }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ item.uuid }}">
                                    {% for subItem in sulu_navigation_tree(item['uuid']) %}
                                        <a class="dropdown-item black" href="{{ sulu_content_path(subItem.url, subItem.webspaceKey) }}">
                                            {{ subItem.title }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="nav-item">
                        <a href="{{ path('login') }}">
                            Prihlásenie
                        </a>
                    </li>
                </ul>
            </div>

{#            <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                <ul class="navbar-nav nav-items-center ml-auto mr-auto main-menu">#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ sulu_content_root_path() }}">Domov</a>#}
{#                    </li>#}
{#                    {% for item in sulu_navigation_root_tree('main') %}#}
{#                        {% if (sulu_navigation_tree(item['uuid']) is empty) %}#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link" href="{{ sulu_content_path(item.url, item.webspaceKey) }}"#}
{#                                   title="{{ item.title }}">{{ item.title }}</a>#}
{#                            </li>#}
{#                        {% else %}#}
{#                            <li class="nav-item dropdown">#}
{#                                <a class="nav-link dropdown-toggle" href="#" id="{{ item.uuid }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                    {{ item.title }}#}
{#                                </a>#}
{#                                <div class="dropdown-menu" aria-labelledby="{{ item.uuid }}">#}
{#                                    {% for subItem in sulu_navigation_tree(item['uuid']) %}#}
{#                                        <a class="dropdown-item black" href="{{ sulu_content_path(subItem.url, subItem.webspaceKey) }}">#}
{#                                            {{ subItem.title }}#}
{#                                        </a>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
        </nav>
    {% endblock %}
</header>

