{% extends 'base.html.twig' %}

{% block content %}
    <!-- Hero section -->
    <div class="section fp-auto-height" id="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{{ asset('img/slider/yoga-2600-2.png') }}">
                <div class="container text-white">
                    <h1>Obnova hesla</h1>
                    <form name="password-reset" class="contact-form" action="{{ path('auth_password_reset_form', {'email': email, 'hash': hash}) }}" method="post">
                        {% if message is not empty %}
                            <div class="row">
                                <div class="col-md-12 user-notification user-notification-{{ message.status }}">
                                    {{ message.message }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" id="password_reset_email" name="email" required="required" value="{{ email }}">
                            </div>
                            <div class="col-md-12">
                                <input type="password" id="password_reset_password" name="password" required="required" placeholder="Heslo">
                            </div>
                            <div class="col-md-12">
                                <input type="password" id="password_reset_password_confirmation" name="password_confirmation" required="required" placeholder="Potvrdenie hesla">
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="col-md-12">
                                <button type="submit" class="site-btn"><span>Obnoviť heslo</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="slide-num-holder" id="snh-1"></div>
        {{ include('pages/partial/contact-link.html.twig') }}
    </div>
    <!-- Hero section end -->
{% endblock %}
