{% extends "simple-base.html.twig" %}

{% block content %}
    <div class="section fp-auto-height api-login-section" id="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{{ asset('img/wall.jpg') }}">
                <div class="container text-white">
                    <h1>Prihlásenie</h1>
                    <form class="contact-form" action="{{ path('api_login') }}" id="api-login-form" method="post">
                        {% if error %}
                            <div class="auth-error">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="api-login-email" name="login[email]" required="required"
                                       placeholder="e-mail" value="{{ last_username }}">
                            </div>
                            <div class="col-md-12">
                                <input type="password" id="api-login-password" name="login[password]" required="required"
                                       placeholder="heslo">
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="col-md-6">
                                <button type="submit" class="site-btn"><span>Prihlásenie</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('#api-login-form').on('submit', function(e) {
                e.preventDefault();
                e.stopPropagation();

                var credentials = {
                    'email': $('#api-login-email').val(),
                    'password': $('#api-login-password').val(),
                }
                $.ajax({
                    type: "POST",
                    url: "{{ path('api_login') }}",
                    data: JSON.stringify(credentials),
                    contentType: "application/json; charset=utf-8",
                    success: function() {
                        replaceLogin();
                    }
                })
            })
        })

        function replaceLogin() {
            $.ajax({
                url: "/api/event/modal/6",
                success: function(data) {
                    console.log(data);
                    $('.api-login-section').html(data);
                }
            })
        }
    </script>
{% endblock %}