{% extends "simple-base.html.twig" %}

{% block content %}
    <div class="section fp-auto-height api-login-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg padding-top-30" data-setbg="{{ asset('img/wall.jpg') }}">
                <div class="container text-white">
                    <div class="event-modal-container">
                        <form class="contact-form max-width" action="{{ path('api_login', {eventId: eventId}) }}" id="api-login-form"
                              method="post">
                            <div class="event-modal-header">
                                <h3>Prihlásenie</h3>
                            </div>
                            <div class="event-modal-body">
                                {% if error %}
                                    <div class="auth-error">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}
                                <div class="col-xs-12 col-sm-6 offset-sm-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" id="api-login-email" name="login[email]"
                                                   required="required"
                                                   placeholder="e-mail" value="{{ last_username }}">
                                        </div>
                                        <div class="row">
                                        </div>
                                        <div class="col-md-12">
                                            <input type="password" id="api-login-password" name="login[password]"
                                                   required="required"
                                                   placeholder="heslo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event-modal-footer">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <button type="submit" class="site-btn"><span>Prihlásenie</span></button>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <button class="site-btn event-modal-cancel"><span>Späť</span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('#api-login-form').on('submit', function (e) {
                e.preventDefault();
                e.stopPropagation();

                var credentials = {
                    'email': $('#api-login-email').val(),
                    'password': $('#api-login-password').val(),
                }
                $.ajax({
                    type: "POST",
                    url: "{{ path('api_login', {eventId: eventId}) }}",
                    data: JSON.stringify(credentials),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        window.location.replace(data.redirectUrl.targetUrl);
                    }
                })
            });

            $('.event-modal-cancel').on('click', function () {
                var modal = DayPilot.Modal.opener();
                modal.close();
            })
        })
    </script>
{% endblock %}